#friends-display-link {
  text-align: center;
  display: block;
  padding: 15px 0px;
  background-color: #fafafa;

  font-size: 18px;
  font-weight: 600;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top : 1px solid rgba(0,0,0, 0.1);
  padding-top:15px;
 }
 
 .friedns-screen__channel-header {
   margin-bottom:20px;
   display:flex;
   justify-content:space-between;
   font-weight: 600;
   color:rgba(0,0,0, 0.4);
 }
 